header{
  border : 1px solid black;
}

.titleHeader{
  text-align: center;
}

.ulHeader{
  text-align: right;
}

.liHeader{
    font-size: 1.2rem;
    display: inline;
    padding-left: 2rem;
}

li{
  list-style-type:none;
}